.den-container{
    background-image: url('../assets/images/fox-den.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 150vh;
    position: relative;
}

.main-den-content{
height: 100vh;
width: 100%;
}

