.sign-up-container{
    height: 100vh;
    background-image: url('../assets/images/mountain-side.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
}